
.container {
    background-color: antiquewhite;
    border: 2px solid black;
    padding: 12px;
    width: 50%;
    margin: auto;
}

h1 {
    text-align: center;
    font-size: 32px;
    font-weight: bolder;
}

form {
    font-size: 22px;
}

input{
    width: 350px;
    height: 30px;
    font-size: 20px;
    border-radius: 10px;
}

textarea{
    font-size: 18px;
}
